html {
    padding: 10% 24px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    line-height: 1.5em;
    font-size: 18px;
    background: #fffff8;
}

body {
    margin: auto;
    max-width: 800px;
}

div {
    margin: 48px 0;
}

img {
    width: 100%;
    max-width: 640px;
    display: block;
    margin: 48px auto;
}
