html {
    padding: 16px;
    font-family: 'Cutive', serif;
    line-height: 2em;
    background: #eee;
}

body {
    margin: auto;
    max-width: 800px;
}

img {
    margin: 64px 25% 0 25%;
    width: 50%;
}