html {
    padding: 16px;
    font-family: 'Cutive', serif;
    line-height: 2em;
    background: #eee;
}

body {
    margin: auto;
    max-width: 800px;
}

img {
  display: block;
  margin: 64px auto 0 auto;
}
